<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static\css\style.css">
</head>
<body>
    <div class="container">
        <h1>Home</h1> 
        <p>Welcome to the website</p>
        {%if session["email"]!="dummy@gmail.com"%}
        
        {{session["name"]}}<br>
        
        <a href="/logout"><button>Logout</button></a>
        {%else%}
        <h2>Please SignIn or SignUp</h2>
        <a href="/signin"><button>SignIn</button></a>
        <a href="/signup"><button>SignUp</button></a>
        {%endif%}
    </div>
</body>
</html>