<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Sign in</h1>
    <h2>Enter your details below</h2>
    <form action="/signinsubmit" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">SignIn</button>
      </form>
</body>
</html>